service atrace_monitor /system/bin/atrace_monitor
    class core
    user root
    group root system
    socket atrace_monitor_sk seqpacket 0660 system system
    disabled
service dpstate /system/bin/dumpstate -d -p -B -o /sdcard/trlog/bugreport
    class main
    disabled
    oneshot
on property:debug.atrace_monitor.flag=start_dumpstate
    start dpstate
